$teal-color: rgb(76, 255, 255);
$purple-color: rgb(177, 130, 171);
$red-color: rgb(239, 41, 41);
$dark-teal-color: rgb(6, 152, 154);
$dark-yellow-color: rgb(196, 160, 0);
$dark-red-color: rgb(204, 0, 0);
$dark-blue-color: rgb(52, 101, 164);
$dark-gray-color: rgb(30, 30, 30);
$dark-green-color: rgb(78, 154, 6);
$normal-gray-color: rgb(229, 229, 229);
$normal-magenta-color: rgb(205, 0, 205);
$bright-magenta-color: rgb(255, 0, 255);
$normal-yellow-color: rgb(205, 205, 0);
$bright-yellow-color: rgb(255, 255, 0);
$normal-blue-color: rgb(0, 0, 238);
$bright-blue-color: rgb(0, 0, 252);
$normal-red-color: rgb(205, 0, 0);
$bright-red-color: rgb(252, 0, 0);
$normal-green-color: rgb(0, 205, 0);
$bright-green-color: rgb(0, 252, 0);
$normal-cyan-color: rgb(0, 205, 205);
$bright-cyan-color: rgb(0, 255, 255);
$gray: rgb(50, 50, 50);
$gray3: rgb(100, 100, 100);
$gray4: rgb(150, 150, 150);
$gray5: rgb(200, 200, 200);
$text-color: rgb(192, 192, 192);