$teal-color: rgb(76, 255, 255);
$dark-teal-color: rgb(6, 152, 154);
$dark-yellow-color: rgb(196, 160, 0);
$purple-color: rgb(177, 130, 171);
$red-color: rgb(239, 41, 41);
$dark-red-color: rgb(204, 0, 0);
$dark-blue-color: rgb(52, 101, 164);
$dark-gray: rgb(30, 30, 30);
$dark-green: rgb(78, 154, 6);
$gray: rgb(50, 50, 50);
$gray3: rgb(100, 100, 100);
$gray4: rgb(150, 150, 150);
$gray5: rgb(200, 200, 200);
$text-color: rgb(192, 192, 192);